<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 header">
            <div class="float-end d-flex">
                <div class="pt-2 px-2">
                    <h6 style="color: white;"><b>{{name.data.loginObj.firstName}} {{name.data.loginObj.lastName}}</b></h6>
                </div>
                <div class="pt-4 px-3">
                    <i class="fa fa-user text-white" style="font-size: 30px;"></i>
                </div>
                <div class="pt-4">
                    <button class="btn btn-sm" (click)="logOut()">Log out</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1 sidebar">
            <div class="pt-5">
                <p class="text-white text-center"><b>Home</b></p>
                <p class="text-white text-center"><b>Serving</b></p>
                <p class="text-white text-center"><b>Products</b></p>
                <p class="text-white text-center" routerLink="footer"><b>Job listing</b></p>
                <p class="text-white text-center"><b>About Us</b></p>
            </div>
        </div>
        <div class="col-sm-11 main p-0">
            <div id="img">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 footer">
            <h5 class="text-white text-center pt-4">2023 © A2Z Designer</h5>
            <div class="text-center pt-2">
                <i class="fa fa-instagram icons" style="font-size: 20px;"></i>&nbsp;
                <i class="fa fa-twitter icons" style="font-size: 20px;"></i>&nbsp;
                <i class="fa fa-linkedin icons" style="font-size: 20px;"></i>&nbsp;
                <i class="fa fa-dribbble icons" style="font-size: 20px;"></i>&nbsp;
            </div>
        </div>
    </div>
</div>